.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 34px;
  row-gap: 50px;
  min-height: 570px;
}

@media screen and (max-width: 1024px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
  }
}
@media screen and (max-width: 767px) {
  .card-container {
    grid-template-columns: 1fr;
    row-gap: 32px;
    justify-items: center;
  }
}
