nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.5s;
  transform-origin: right;
}

.search-bar-container {
  position: relative;
  display: flex;
  width: 297px;
  height: 55px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.5s;
  transform-origin: right;
}

.search-bar-container form {
  width: 100%;
  display: flex;
}

label,
input {
  all: unset;
}
.search-bar-container form label input {
  border: none;
  border-right: 1px solid #f2f2f2;
}

.search-bar-container form label:first-child input {
  height: 50px;
}

.search-bar-container form label:first-child input {
  width: 122px;
  height: 55px;
  padding-left: 16px;
  color: #333;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-bar-container form label:nth-child(2) input {
  width: 90px;
  height: 55px;
  padding-left: 16px;
  color: #bdbdbd;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-bar-container form label p {
  display: none;
}

.search-bar-container form button {
  width: 53px;
  height: 53px;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar-container form button span {
  color: #eb5757;
  width: 24px;
}

.wide {
  padding-top: 61px;
}
.wide > img {
  display: none;
}

.wide > .search-bar-container {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 100%;
  height: 460px;
  justify-content: center;
  border-radius: 0;
}

.wide > .search-bar-container > form {
  width: 1248px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
  margin-top: 93px;

  overflow: hidden;
}

.wide label {
  width: 426px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  border: none;
  border-right: 1px solid #f2f2f2;
}
.wide .search-bar-container form label p {
  display: block;
  color: #333;
  font-family: Mulish;
  font-size: 9px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin: 12px auto auto 27px;
}
.wide #location {
  width: 426px;
  margin-top: 4px;
  margin-left: 27px;
  padding-left: 0px;
}

.wide #guests {
  width: 426px;
  margin-top: 4px;
  margin-left: 27px;
  padding-left: 0px;
}
label:focus {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

/* input:focus {
  border: none;
  box-shadow: none;
  outline: none;
  border-right: 1px solid #f2f2f2;
} */

.wide .search-bar-container form button {
  width: 127px;
  height: 48px;
  gap: 11px;
  align-self: center;
  margin: auto;
  border-radius: 16px;
  background: #eb5757;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

.wide .search-bar-container form button span {
  color: #f2f2f2;
}

.wide .search-bar-container form button::after {
  content: 'Search';
  color: #f2f2f2;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.location-options {
  opacity: 0;
  position: absolute;
  top: 189px;
  left: 123px;
  z-index: 2;
}
.location-options ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.location-options ul li option {
  color: #4f4f4f;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.location-options ul li option::before {
  font-family: 'Material Icons';
  content: '\e0c8';
  font-size: 19.5px;
  margin-right: 10px;
}

.guests-container {
  position: absolute;
  opacity: 0;
  top: 196px;
  left: 537px;
}
.guests-container .guests-options {
  margin-bottom: 65px;
}
.guests-container .guests-options h4 {
  color: #333;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.guests-container .guests-options p {
  color: #bdbdbd;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}

.visible {
  opacity: 1;
}

@media screen and (max-width: 450px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 37px;
  }
  .search-bar-container {
    align-self: center;
  }
}
